add_newline = false

format = """
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$character"""

[directory]
style = "bold blue"
format = "[$path $symbol]($style)"

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[✗](bold red)"

[git_branch]
format = " [$branch]($style) "
style = "bold yellow"

[git_status]
ahead = "⇡${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
behind = "⇣${count}"

[cmd_duration]
min_time = 2_000
format = "took [$duration]($style) "

